.forgot {
  width: 100%;
}

.forgot .form_forgot p {
  margin: 30px 0 12px 0;
  font-size: 14px;
  font-weight: 400;
  color: var(---black);
  text-align: center;
}

.forgot .red {
  text-align: end;
  margin: 0 !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  color: red !important;
}