.loaderz.blue {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 3px solid var(--blue);
  background: #00000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotationData 1s linear infinite;
}

@keyframes rotationData {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
